### Úvod k sekvencím (některým kontejnerovým datovým typům)(~sequencies)

---

* [Oficiální dokumentace pro `list`, `tuple`](https://docs.python.org/3/library/stdtypes.html#typesseq)

<br>

Doposud jsme si ukázali jak pracovat s proměnnou, která obsahuje **jedno číslo** (`int`, `float`), nebo **jeden řetězec** textových znaků (`str`).

<br>

Pojďme si nyní ukázat, že Python umí pracovat i s údaji, které obsahují více různých informací jako několik čísel, nebo několik textových hodnot.

<br>

Takové hodnoty potom budeme označovat jako tzv. **sekvenční datové typy** (tedy v jedné proměnné bude několik oddělených údajů). Obecně Python nabízí tyto tři základní sekvenční typy:

1. `list` (česky *seznam*)
2. `tuple` (česky *n-tice*)
3. `range` (česky *rozsah*)

<br>

#### `list` (~seznam)

---

*List* je opravdu datový typ, který je doslova tvořen seznamem údajů. Tyto údaje jsou oddělené datovým oddělovačem čárkou:

```python
muj_seznam = ["Matous", "Marek", "Lukas", "Jan"]
```


<br>

V příkladu si můžeme všimnout některých **charakteristických rysů** pro `list`:

<br>

1. **Hranaté závorky** na začátku a na konci listu,
2. **stringy**, které náš list obsahuje,
3. **čárky**, které oddělují jednotlivé hodnoty,
4. **proměnná**, do které si nově napsaný list schovám (`muj_seznam`).

<br>

Opět si můžeš pomocí funkce `type` ověřit datový typ. Není nutné chápat celkový význam výstupu funkce `type`. Stačí si povšimnout výrazu `list` ve výstupu.

In [28]:
seznam = ["Matous", "Marek", "Lukas", "Jan"]

In [29]:
type(seznam)

list

<br>

#### Jak vytvořit list

---

Nejprve si ukážeme možnosti, jak **vytvořit prázdný list**, kam si budeš moc v budoucnu ukládat svoje hodnoty:

1. Možnost, pomocí **prázdných hranatých závorek**,
2. Možnost, pomocí **zabudované funkce** `list`.

In [30]:
prvni_seznam = []

In [31]:
druhy_seznam = list()

In [32]:
type(prvni_seznam)

list

In [33]:
type(druhy_seznam)

list

<br>

Opět použijeme funkci `type` pro ověření, že výsledné hodnoty jsou skutečně typu `list`.

<br>

Pokud potřebuješ vytvořit neprázdný list, můžeš údaje zapsat přímo do hranaté závorky (jako první úkazka v této kapitole):

In [34]:
treti_seznam = [2, 4, 6, 8, 10]

In [35]:
ctvrty_seznam = [1.0, 3.0, 5.0, 7.0, 9.0]

In [36]:
type(treti_seznam)

list

In [37]:
type(treti_seznam[2])

int

<br>

#### Jak pracovat s listem

---
Hodnoty, které `list` obsahuje můžeš zpřístupnit pomocí jejich **pořadí**, tedy indexů. Tento princip funguje stejně jako jsme si ukázali u stringů.

In [44]:
muj_seznam = ["Matous", "Marek", "Lukas", "Jan"]

In [45]:
type(muj_seznam[0])

str

In [46]:
muj_seznam[1]

'Marek'

In [47]:
muj_seznam[:2]

['Matous', 'Marek']

In [48]:
muj_seznam[0] = "ZMENA"

In [49]:
muj_seznam

['ZMENA', 'Marek', 'Lukas', 'Jan']


<br>

Tedy index `0` představuje **první hodnotu** a index `-1` **poslední hodnotu**.

<br>

#### `tuple` (~n-tice)

---

Tuple je na první pohled velice podobný **listu** (seznamu):

In [50]:
muj_tupl = ("Matous", "Marek", "Lukas", "Jan")


<br>

V příkladu si můžeme všimnout některých **charakteristických rysů** pro `tuple`:

<br>

1. **Kulaté závorky** na začátku a na konci tuplu,
2. **stringy**, které náš list obsahuje,
3. **čárky**, které oddělují jednotlivé hodnoty,
4. **proměnná**, do které si nově napsaný tupl schováme (`muj_tupl`).

<br>

Proč je nutné mít jak `list`, tak `tuple`, když jsou tak podobné. Hlavním rozdílem je **změnitelnost**.

<br>

|Sekvenční typ|Změnitelnost|Vysvětlení|
|:-:|:-:|:-:|
|`list` (~seznam)|*mutable* (~změnitelný)|	Můžeš přidávat a odebírat hodnoty |
|`tuple` (~n-tice)|*immutable* (~nezměnitelný)|	Jakmile jej vytvoříš, nelze změnit |

<br>

Z tabulky uvedené výše vyplývá, že pokud chceš pracovat se sekvencí, u které budeš v průběhu **měnit její obsah**, použiješ `list` (~seznam).

<br>

Naopak pokud budeš chtít jako programátor napsat takovou sekvenci, kterou si **nepřeješ změnit** (a dát to nauvědoměnou sobě nebo ostatním programátorům), použiješ `tuple`. Podívej se na ukázku níže:

In [54]:
nejvetsi_mesta = ("Praha", "Brno", "Ostrava", "Plzen", "Liberec", "Olomouc")

In [55]:
nejvetsi_mesta[2:4]

('Ostrava', 'Plzen')

In [56]:
nejvetsi_mesta[0] = ["Vyškov"] # nelze měnit

TypeError: 'tuple' object does not support item assignment


<br>

V tuplu `nejvetsi_mesta` jsou všechna města v České republice, která mají více než 100 000 obyvatel.
Pro nás je toto zásadní hodnota a nechceme, aby do této proměnné kdokoliv přidal nějaký další údaj. Na základě této potřeby jsme vybrali `tuple`.

<br>


#### Jak pracovat s tuplem

---

Stejně jako `list` můžeš i `tuple` *indexovat*, *rozkrájet* (slicing), *přeskakovat* (~striding):

In [ ]:
treti_tupl = ("Praha", "Berlin", "Varsava", "Bratislava", "Viden")

In [ ]:
treti_tupl[0]

In [ ]:
treti_tupl[-1]

In [ ]:
treti_tupl[0:2]

In [ ]:
treti_tupl[-2]

In [ ]:
muj_tupl = (1, 2, 3)

In [ ]:
muj_tupl

In [ ]:
muj_tupl[2] = 3 #nelze měnit

In [ ]:
muj_seznam = [1, 2, 4]

In [ ]:
muj_seznam

In [ ]:
muj_seznam[2] = 3

In [ ]:
muj_seznam

In [ ]:
vsechno_dohromady = [1, 2.4, "ahoj", ['a','b','c'], ('x', 5)]

In [ ]:
type(vsechno_dohromady[1])

---